[submodule "roles/hswong3i.apt"]
	path = roles/hswong3i.apt
	url = https://github.com/pantarei/ansible-role-apt.git
	branch = master
[submodule "roles/hswong3i.hostname"]
	path = roles/hswong3i.hostname
	url = https://github.com/pantarei/ansible-role-hostname.git
	branch = master
[submodule "roles/hswong3i.locales"]
	path = roles/hswong3i.locales
	url = https://github.com/pantarei/ansible-role-locales.git
	branch = master
[submodule "roles/hswong3i.ntp"]
	path = roles/hswong3i.ntp
	url = https://github.com/pantarei/ansible-role-ntp.git
	branch = master
[submodule "roles/hswong3i.tzdata"]
	path = roles/hswong3i.tzdata
	url = https://github.com/pantarei/ansible-role-tzdata.git
	branch = master
[submodule "roles/hswong3i.ufw"]
	path = roles/hswong3i.ufw
	url = https://github.com/pantarei/ansible-role-ufw.git
	branch = master
[submodule "roles/hswong3i.usermin"]
	path = roles/hswong3i.usermin
	url = https://github.com/pantarei/ansible-role-usermin.git
	branch = master
[submodule "roles/hswong3i.webmin"]
	path = roles/hswong3i.webmin
	url = https://github.com/pantarei/ansible-role-webmin.git
	branch = master
[submodule "roles/hswong3i.apache2"]
	path = roles/hswong3i.apache2
	url = https://github.com/pantarei/ansible-role-apache2.git
	branch = master
[submodule "roles/hswong3i.java"]
	path = roles/hswong3i.java
	url = https://github.com/pantarei/ansible-role-java.git
	branch = master
[submodule "roles/hswong3i.mysql"]
	path = roles/hswong3i.mysql
	url = https://github.com/pantarei/ansible-role-mysql.git
	branch = master
[submodule "roles/hswong3i.php"]
	path = roles/hswong3i.php
	url = https://github.com/pantarei/ansible-role-php.git
	branch = master
[submodule "roles/hswong3i.postgresql"]
	path = roles/hswong3i.postgresql
	url = https://github.com/pantarei/ansible-role-postgresql.git
	branch = master
[submodule "roles/hswong3i.php_vhosts"]
	path = roles/hswong3i.php_vhosts
	url = https://github.com/pantarei/ansible-role-php-vhosts.git
	branch = master
[submodule "roles/hswong3i.apache2_vhosts"]
	path = roles/hswong3i.apache2_vhosts
	url = https://github.com/pantarei/ansible-role-apache2-vhosts.git
	branch = master
[submodule "roles/hswong3i.mysql_vhosts"]
	path = roles/hswong3i.mysql_vhosts
	url = https://github.com/pantarei/ansible-role-mysql-vhosts.git
	branch = master
[submodule "roles/hswong3i.postgresql_vhosts"]
	path = roles/hswong3i.postgresql_vhosts
	url = https://github.com/pantarei/ansible-role-postgresql-vhosts.git
	branch = master
[submodule "roles/hswong3i.bamboo"]
	path = roles/hswong3i.bamboo
	url = https://github.com/pantarei/ansible-role-bamboo.git
	branch = master
[submodule "roles/hswong3i.bitbucket"]
	path = roles/hswong3i.bitbucket
	url = https://github.com/pantarei/ansible-role-bitbucket.git
	branch = master
[submodule "roles/hswong3i.confluence"]
	path = roles/hswong3i.confluence
	url = https://github.com/pantarei/ansible-role-confluence.git
	branch = master
[submodule "roles/hswong3i.crowd"]
	path = roles/hswong3i.crowd
	url = https://github.com/pantarei/ansible-role-crowd.git
	branch = master
[submodule "roles/hswong3i.drupal"]
	path = roles/hswong3i.drupal
	url = https://github.com/pantarei/ansible-role-drupal.git
	branch = master
[submodule "roles/hswong3i.fisheye"]
	path = roles/hswong3i.fisheye
	url = https://github.com/pantarei/ansible-role-fisheye.git
	branch = master
[submodule "roles/hswong3i.jira"]
	path = roles/hswong3i.jira
	url = https://github.com/pantarei/ansible-role-jira.git
	branch = master
[submodule "roles/hswong3i.mysql_connector_java"]
	path = roles/hswong3i.mysql_connector_java
	url = https://github.com/pantarei/ansible-role-mysql-connector-java.git
	branch = master
[submodule "roles/hswong3i.composer"]
	path = roles/hswong3i.composer
	url = https://github.com/pantarei/ansible-role-composer.git
	branch = master
[submodule "roles/hswong3i.varnish"]
	path = roles/hswong3i.varnish
	url = https://github.com/pantarei/ansible-role-varnish.git
	branch = master
[submodule "roles/hswong3i.memcached"]
	path = roles/hswong3i.memcached
	url = https://github.com/pantarei/ansible-role-memcached.git
	branch = master
[submodule "roles/hswong3i.nfs"]
	path = roles/hswong3i.nfs
	url = https://github.com/pantarei/ansible-role-nfs.git
	branch = master
[submodule "roles/hswong3i.cachefilesd"]
	path = roles/hswong3i.cachefilesd
	url = https://github.com/pantarei/ansible-role-cachefilesd.git
	branch = master
[submodule "roles/hswong3i.mariadb"]
	path = roles/hswong3i.mariadb
	url = https://github.com/pantarei/ansible-role-mariadb.git
	branch = master
[submodule "roles/hswong3i.mariadb_vhosts"]
	path = roles/hswong3i.mariadb_vhosts
	url = https://github.com/pantarei/ansible-role-mariadb-vhosts.git
	branch = master
[submodule "roles/hswong3i.mount"]
	path = roles/hswong3i.mount
	url = https://github.com/pantarei/ansible-role-mount.git
	branch = master
[submodule "roles/hswong3i.gluster"]
	path = roles/hswong3i.gluster
	url = https://github.com/pantarei/ansible-role-gluster.git
	branch = master
